@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Instrument Sans", serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
@layer utilities {
  /* customCursor */
  .cursor{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: fixed;
    background-color: white;
    
  }
  .follow-cursor{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    position: fixed;
    background-color: transparent;
    z-index: 999;
  }
  .section-heading {
    @apply font-bold text-3xl md:text-4xl xl:text-5xl capitalize;
  }
  .card-title {
    @apply text-2xl font-semibold;
  }
   /* testimonial swiperjs pagination */
   .swiper .swiper-pagination-bullet {
    background-color: #70FE0E;
  }

  .swiper .swiper-pagination-bullet-active {
    background-color: #70FE0E;
  }
  /* footer */
  .social-icon-bg{
    @apply bg-white rounded-full p-3
  }
  .social-icon{
    @apply size-6
  }
  .footer-link{
    @apply hover:text-primary transition-colors duration-300
  }
}
